body {
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: #595959;
    margin: 0;
    padding: 0;
}
a {
  color: #595959;
  text-decoration: none; 
}
.top {
    width: 100%;
    height: 30px;
    background-color: white;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid #cbcfd6;
    font-size: 16px;
    text-align: center;
}
.top * {
    vertical-align: middle;
}
.line * {
    vertical-align: middle;
    margin-bottom: 5px;
    margin-top: 5px;
}
.small {
    font-size: 8px;
}
.main {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    padding-top: 25px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid #cbcfd6;
    border-left: 1px solid #cbcfd6;
    border-right: 1px solid #cbcfd6;
}
.title {
    margin: 0px;
    text-align: center;
}
.sub {
    margin-left: 25px;
}
input[type="text"], input[type="number"], input[type="password"], input[type="email"] {
    height: 30px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #AAAAAA;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    outline: none;
}
input[type="submit"].final {
    position: absolute;
    background-color: #4286f4;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}
input[type="submit"].final:hover {
    background-color: #1e74ff;
}
input[type="submit"].final:active {
    background-color: blue;
}
input[type="submit"] {
    color: white;
    padding: 5px;
    height: 30px;
    font-size: 16px;
    background-color: #ff6666;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #e60000;
}
input[type="submit"]:active {
    background-color: #990000;
}
.number {
    background-color: #00dd3e;
    padding: 5px;
    color: white;
}
.fileHeader{
    font-weight: bolder;
    color: gray;
}